name: Deploy

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          repository: dndx/nchnroutes
          path: nchnroutes
      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Run codes
        run: |
          mkdir routes/eth0 -p
          cd nchnroutes
          curl -s -o delegated-apnic-latest https://ftp.apnic.net/stats/apnic/delegated-apnic-latest
          curl -s -o china_ip_list.txt https://raw.githubusercontent.com/17mon/china_ip_list/master/china_ip_list.txt
          python3 produce.py --next="eth0"
          mv routes4.conf ../routes/eth0
          mv routes6.conf ../routes/eth0

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./routes
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          full_commit_message: Deploy from ${{ github.repository }}@${{ github.sha }}
